* {
  margin: 0;
  padding: 0;
 font-size: 15px;
}

body {
  display: flex;
  height: 100svh;

  align-items: center;
  justify-content: center;
}
.cards {
  display: flex;
  border: solid 1px;
  flex-direction: column;
  padding: 20px;
  width: 300px;
  height: 60%;
}

#sedan {
  background-color: hsl(31, 77%, 52%);
}

#suv {
  background-color: hsl(184, 100%, 22%);
}

#lux {
  background-color: hsl(179, 100%, 13%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

img {
width: 60px;
max-width: 100%;
  
}

button {
  height: 40px;
  border-radius: 30px;
  border: 2px solid white;
  width: 125px;
  cursor: pointer;
  margin-left: 25px;
  margin-top: 80px;
  font-weight: bold;
  transition: 0.7ms;
   }

.button1:hover {
  background-color: orange; 
}

.button2:hover{
    background-color: lightgreen;
}

.button3:hover {
    background-color: green;
}
  
p{

    margin: 30px;
    font-size: 20px;
    color: hsla(0, 0%, 100%, 0.75);
    letter-spacing: 1px;
    
}

.design{
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 30px;
    height: auto;
    margin: 30px;
    

}
