* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100svh;

  align-items: center;
  justify-content: center;
}
.cards {
  display: flex;
  border: solid 1px;
  flex-direction: column;
  padding: 20px;
  width: 300px;
  height: 60%;
}

#sedan {
  background-color: hsl(31, 77%, 52%);
}

#suv {
  background-color: hsl(184, 100%, 22%);
}

#lux {
  background-color: hsl(179, 100%, 13%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

img {
  width: 50%;
  margin: 15px;
}

button {
  height: 48px;
  border-radius: 30px;
  width: 125px;
  position: absolute;
  bottom: 25%;
  cursor: pointer;
}

p{

    margin: 30px;
    font-size: 20px;
    
}